
extends ../layouts/topLevel.jade

block topLevelIcon
    span.sbh-toplevel-icon.fa.fa-dna

block topLevelPropertyTable

    if componentDefinition.sequences.length > 0
        tr
            td Sequences
            td
                for sequence in componentDefinition.sequences

                    div.col-md-12
                        .container.float-left
                            #accordion.panel-group
                                .panel.panel-default
                                    .panel-heading
                                        div.sbh-sequence-title
                                            a.accordion-toggle(data-toggle='collapse', href='#collapseOne')
                                                | Sequence (#{sequence.elements.length} #{sequence.lengthUnits})
                                    #collapseOne.panel-collapse.collapse.in
                                        .panel-body
                                        pre #{formatted}

                    div.float-right
                         +blast-button(sequence)
                    br

block topLevelButtonsSearch
    li
        a(href=href=meta.url + '/uses',title='Find all uses of this '+rdfType.name) Find Uses
    li
        if meta.igemDominant.description == 'true' && !meta.remote
            a.btn.btn-success(href=meta.url + '/twins',title='This is a dominant twin') Find Twins
        else if !meta.remote
            a(href=meta.url + '/twins',title='This is NOT a dominant twin') Twins

block topLevelButtons
    if createImplementation
        li.dropdown.btn.btn-success
            a(href=meta.url + '/createImplementation',title='Create Implementation',style="color:white")
                span.fa.fa-cubes
    if meta.remote
        li.dropdown.btn.btn-primary
            span.fa.fa-send
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/copyFromRemote') Copy to SynBioHub
    if BenchlingRemotes && ICERemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createBenchlingSequence') Send to Benchling
                li
                    a(href=meta.url + '/createICEPart') Send to ICE
    else if BenchlingRemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createBenchlingSequence') Send to Benchling
    else if ICERemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createICEPart') Send to ICE
    if config.experimental.dataIntegration
        li.dropdown.btn.btn-primary
            a(href=meta.url + '/integrate',title='Integrate data from an integration pipeline',style="color:white")
                span.fa.fa-plus-circle
                | Data Integration


    block js            
        script(src='/js/editFields.js')
                
