
extends ../layouts/default.jade
include ../mixins/attachments.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Construct Submission


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-cloud-upload
            p(style='font-size: 1.7em; font-weight: bolder')
                | Tell us about your construct!

            div.tab-content
            form(method='post',enctype='multipart/form-data')
                        if errors.length > 0

                            each error in errors
                                div.alert.alert-danger
                                    p #{error}
                                br

                        input(type="hidden", name="submitType", value="new")
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="construct_name") Construct Name
                                        a(title='Every entry on SynBioHub has a name, including Constructs. Make sure to give a memorable and descriptive name for easier recognition.')
                                                    span.fa.fa-info-circle
                                    input.form-control(name='construct_name',id="construct_name",placeholder='The name of the built design.', value=submission.construct_name)

                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="agent") Researcher
                                        a(title='SynBioHub records information about provenance: who, what, where. Here, you need to fill out which user performed this specific Experiment.')
                                                span.fa.fa-info-circle
                                    select.form-control(name='agent', id="agent")
                                            option(value='', selected='selected') The name of the researcher who built the design.
                                            - for(var i=0;i< agent_names.length;i++) {
                                              option(value = [agent_uris[i],agent_names[i]]) #{agent_names[i]}
                                            - }
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="description") Purpose
                                        a(title='Writing the purpose of a built Construct is important for properly describing it.')
                                                span.fa.fa-info-circle
                                    input.form-control(name='description',id="description"
                                            placeholder='Brief description about the purpose of this live design.',value=submission.description)
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="location") Physical Location
                                        a(title='Noting the physical location of the built construct is useful information that SynBioHub stores.')
                                                span.fa.fa-info-circle
                                    input.form-control(name='location', id="location"
                                            placeholder='Physical location of the live design e.g. Fridge A, Tray 2', value=submission.location)

                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="organism") Organism
                                        a(title='SynBioHub will give suggestions as you write the organism name. It will also link the chosen organism with its NCBI taxonomy ID automatically.')
                                                span.fa.fa-info-circle
                                    input.form-control.organism-autocomplete(name='organism', id="organism"
                                            placeholder='Organism', value='')

                        div.row
                            div.col-md-12
                              div.form-group-100.required
                                    div
                                      label(for="agent") Lab Protocol Used
                                        a(title='SynBioHub necessitates the uploading of lab protocol documents, which contain a description of the steps performed in an experiment. Using this checkbox, you can either create a new Lab Protocol, which will require you to upload a file e.g. a word document. You can also leave the checkbox blank, and use any of the already existing protocols.')
                                                span.fa.fa-info-circle
                                      input(type="checkbox", style='margin-left:50px', data-toggle='collapse', data-target='.collapseForm', id="ast1", name="plan_submission_type[]")
                                      | Create a new Lab Protocol
              

                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    .collapseForm.panel-collapse.collapse.show
                                        .panel-body
                                        select.form-control(name='plan1', id="plan1")
                                                option(value='', selected='selected') The name of the Lab Protocol used to build the design.
                                                - for(var i=0;i< plan_names.length;i++) {
                                                  option(value = [plan_uris[i],plan_names[i]]) #{plan_names[i]}
                                                - }


                        div.row
                                .collapseForm.panel-collapse.collapse
                                    .panel-body
                                        h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', href='#collapse')
                                        div.card.w-100
                                            div.card-header
                                                div.col-md-12
                                                        | <b>Please upload a file describing the lab protocol</b>
                                          
                                            div.form-group-100.required
                                                input.form-control(name='plan2',id="plan2",placeholder='The name of the lab protocol used to build the design.', value=submission.plan2)
                                          
                                            #collapse.panel-collapse
                                                .panel-body
                                                    div.row
                                                        div.col-md-12
                                                            if canEdit
                                                                div.row
                                                                        div.col
                                                                            div.input-group
                                                                                label.input-group-btn
                                                                                    span.btn.btn-primary
                                                                                        | Select file(s)&hellip;
                                                                                        input(type="file",name="file",style="display: none;",multiple)
                                                                                input(type="text",class="form-control",readonly)
                                                                        div.col-xs-3
                        br

                        div.row
                            div.col-md-12
                                button(type='submit').btn.btn-primary.btn-lg Submit
