mixin editables()

    #attachmentModal(class="modal fade")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h4.modal-title Edit Field
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
                div#attachModalBody.modal-body
    div#allForms(style="display:none")
        div#editablePlan
            div.tab-content
                form(method='post',enctype='multipart/form-data', action=uri + "/edit")#editPlanForm
                    div.row
                        div.col-md-12
                            div.form-group-100.required
                                div
                                    label(for="agent") Lab Protocol Used 
                                    a(title='Lab Protocols are documents that contain a description of the steps performed in the lab. Using this checkbox, you can either create a new Lab Protocol, which will require you to give the protocol a name, and to upload a file e.g. a word document that describes it. You can also leave the checkbox blank, and use any of the already existing protocols.')
                                            span.fa.fa-info-circle
                                    input(type="checkbox", style='margin-left:50px', data-toggle='collapse', data-target='.collapseForm', id="ast1", name="plan_submission_type[]")
                                    |  Create a new Lab Protocol
                    div.row
                        div.col-md-12
                            div.form-group-100.required
                                .collapseForm.panel-collapse.collapse.show
                                    .panel-body
                                    select.form-control(name='plan1', id="plan1")
                                            option(value='', selected='selected') Choose an existing Lab Protocol
                                            if plans
                                                for plan in plans
                                                    option(value=[plan.uri, plan.name]) #{plan.name}
                                            
                    div.row
                            .collapseForm.panel-collapse.collapse
                                .panel-body
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', href='#collapse')
                                    div.card.w-100
                                        div.card-header
                                            div.col-md-12
                                                        <b>Please upload a file describing the lab protocol</b>
                                        
                                        div.form-group-100.required
                                            input.form-control(name='plan2',id="plan2",placeholder='The name of the lab protocol used to build the design.', value=plan2)
                                        
                                        #collapse.panel-collapse
                                            .panel-body
                                                div.row
                                                    div.col-md-12
                                                            div.row
                                                                    div.col
                                                                        div.input-group
                                                                            label.input-group-btn
                                                                                span.btn.btn-primary
                                                                                    | Select file(s)&hellip;
                                                                                    input(type="file",name="file")
                                                                            input(type="text",class="form-control",readonly)
                                                                    div.col-xs-3
                    div.row
                        div.col-md-12
                            button(type='submit').btn.btn-primary.btn-lg Submit
        div#editableLocation
            form(method='post',enctype='multipart/form-data', action=uri + "/edit")#editLocationForm
                div.row
                        div.col-md-12
                            div.form-group-100.required
                                label(for="location") Physical Location 
                                    a(title='Noting the physical location of the built construct is useful information that SynBioHub stores.')
                                            span.fa.fa-info-circle
                                input.form-control(name='location', id="location"
                                        placeholder='Physical location of the construct e.g. Fridge A, Tray 2', value=location)
                div.row
                    div.col-md-12
                        button(type='submit').btn.btn-primary.btn-lg Submit

        div#editableHost
            form(method='post',enctype='multipart/form-data', action=uri + "/edit")#editHostForm
                div.row
                    div.col-md-12
                        div.form-group-100.required
                            label(for="organism") Host Context
                                a(title='SynBioHub will give suggestions as you write the organism name. It will also link the chosen organism with its NCBI taxonomy ID automatically.')
                                        span.fa.fa-info-circle
                            input.form-control.organism-autocomplete(name='organism', id="organism"
                                    placeholder='Organism', value='')
                div.row
                    div.col-md-12
                        button(type='submit').btn.btn-primary.btn-lg Submit

        div#editableMetadata
            form(method='post',enctype='multipart/form-data', action=uri + "/edit")#editMetadataForm
                div.card.w-100
                    div.card-header
                        div.col-md-12
                                <b>Experimental Conditions </b>
                                a(title='Upload a document e.g. spreadsheet that contains the experimental conditions for the experiment. A template spreadsheet is offered below.')
                                            span.fa.fa-info-circle.in

                                            
                    #collapseSix.panel-collapse
                        .panel-body
                            div.row
                                div.col-md-12
                                        div.row
                                            div.col
                                                a(href='/metadataDownload') Template Conditions Spreadsheet 
                                                        span.fas.fa-table 
                                                div.input-group
                                                    label.input-group-btn
                                                        span.btn.btn-primary
                                                            | Select file(s)&hellip;
                                                            input(type="file",name="metadata_file",style="display: none;",multiple)
                                                    input(type="text",class="form-control",readonly)
                                            div.col-xs-3   
                div.row
                    div.col-md-12
                        button(type='submit').btn.btn-primary.btn-lg Submit

        div#editableDescription
            form(method='post',enctype='multipart/form-data', action=uri + "/edit")#editDescriptionForm
                div.row
                    div.col-md-12
                        div.form-group-100.required
                            label(for="description") Purpose 
                                a(title='Writing the purpose of a built Construct is important for properly describing it.')
                                        span.fa.fa-info-circle
                            input.form-control(name='description',id="description"
                                    placeholder='Brief description about the purpose of this construct',value=description)
                div.row
                    div.col-md-12
                        button(type='submit').btn.btn-primary.btn-lg Submit