
extends ../layouts/topLevel.jade


block topLevelIcon
    span.topLevelIcon.fa.fa-flask

block OtherProperties
block Collections
block Mutables


block js2
    script.

        let expName = "#{experiment.displayName}"
        let temp_elements = [{data: { id: expName, type: "exp"}}]

        let constructs = !{JSON.stringify(constructNames)}

        for (construct of constructs){

            temp_elements.push({
                data: { id: construct, type: "cons"}
            })

            temp_elements.push({
                data: { id: expName + construct, source: expName, target: construct }
            })
        }

        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: temp_elements,
            style: [ // the stylesheet for the graph
                {
                    selector: 'node[type="exp"]',
                    style: {
                        'background-color': 'red',
                        'label': 'data(id)' 
                        }
                },

                {
                    selector: 'node[type="cons"]',
                    style: {
                        'background-color': 'blue',
                        'label': 'data(id)'
                        }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 8,
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle'
                        }
                }
            ],

            layout: {
                name: 'circle',
                rows: 3
            }
            });

            cy.nodes().ungrabify()
            cy.panningEnabled( false )
            cy.autolock( true )

            
block topLevelBelowPropertyTable

    //- div.card-body
    //-     a(style='font-size:18px', href=dataurl) Digital Data Repository

    div#cy

    div.card-body

        table.table.table-striped.entry-detail-table
            tr
                td Researcher
                td #{agent}
            tr
                td Protocol
                td 
                    a(href=plan_url + '/download') #{plan}
            tr
                td Organism
                td 
                    a(href=taxId) #{organism}
            tr
                td Experimental Conditions
                td 
                    for data in experimentalData
                        if data.attachments[0].displayName
                            a(href=data.attachments[0].uri + '/download') #{data.attachments[0].displayName}