
extends ../layouts/topLevel.jade


block topLevelIcon
    span.topLevelIcon.fa.fa-flask

block OtherProperties
block Attachments
block Collections
block Mutables

block topLevelBelowPropertyTable
    //- a(style='font-size:20px', href=meta.wasDerivedFrom.toString().startsWith(config.databasePrefix)?'/'+meta.wasDerivedFrom.toString().replace(config.databasePrefix,''):meta.wasDerivedFrom.toString()) Original Construct
    //- br
    //- a(style='font-size:20px', href=meta.dataurl) Experimental Data URL

    div.card-body
        table.table.table-striped.entry-detail-table
            tr
                td Researcher
                td #{agent}
            tr
                td Protocol
                td 
                    a(href=plan_url) #{plan}
            tr
                td Organism
                td 
                    a(href=taxId) #{organism}
            tr
                td Metadata
                td 
                    //- a(href=metadata.url + '/download') #{metadata.name}