
extends ../layouts/topLevel.jade


block topLevelIcon
    span.topLevelIcon.fa.fa-flask

block OtherProperties
block Attachments
block Collections
block Mutables

block topLevelBelowPropertyTable

    div.card-body
        a(style='font-size:18px', href=dataurl) Digital Data Repository
        p(style='font-size:18px') Original Construct: 
            a(style='font-size:18px',href=construct_uri) #{construct}

    div.card-body
        table.table.table-striped.entry-detail-table
            tr
                td Researcher
                td #{agent}
            tr
                td Protocol
                td 
                    a(href=plan_url + '/download') #{plan}
            tr
                td Organism
                td 
                    a(href=taxId) #{organism}
            tr
                td Experimental Conditions
                td 
                    for data in experimentalData
                        if data.attachments[0].displayName
                            a(href=data.attachments[0].uri + '/download') #{data.attachments[0].displayName}