
extends ../layouts/topLevel.jade

include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade

include ./editableModals.jade


block OtherProperties
block Collections
block Mutables

block topLevelIcon
    span.topLevelIcon.fa.fa-flask


block topLevelBelowPropertyTable

    +editables()


    div.card-body
        p(style='font-size:18px') Original Design: 
            a(style='font-size:18px',href=design_uri) #{design}
    div.card-body
        table.table.table-striped.entry-detail-table
            tr
                td Researcher
                td #{agent}
            tr
                td Protocol
                td 
                    a(id="planForm" href=plan_url + '/download', value=plan) #{plan}
                    a.edit(data-toggle="modal" href="#attachmentModal" style="margin-left: 25px;" id="plan_edit")
                        span.fas.fa-pencil-alt

            tr
                td Physical Location
                td #{location}
            tr
                td Organism
                td 
                    a(href=taxId) <i>#{organism}</i>



            #attachmentModal(class="modal fade")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-header")
                            h4.modal-title Edit Field
                            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
                        div#attachModalBody.modal-body