
extends ../layouts/topLevel.jade

include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade



block jsState
    script meta =
        != JSON.stringify(meta)

    script.
        function popup() {
            popupS.modal({
                content: '<div class="form-group"><label for="share">Copy the following link to share</label><input id="share" type="text" class="form-control" style="width:30em;" readonly value="#{share}"/></div>',
            });
        }



block topLevelBelowPropertyTable
                    div.card-body
                        table.table.table-striped.entry-detail-table
                            tr
                                td Researcher
                                td #{agent}
                            tr
                                td Protocol
                                td #{plan}
                            tr
                                td Physical Location
                                td #{location}
                                        

                        //- h4 Researcher:
                        //- | 
                        //- br
                        //- h4 Protocol:
                        //- | #{plan}
                        //- br
                        //- h4 Physical Location:
                        //- | #{location}
