
extends ../layouts/base.jade

block head
    style.
        .sbh-corner-logo {
            display: none;
        }

        .top-search-form {
            display: none;
        }

        .main-search-form input {
            width: 60%;
            margin-left: 0;
            background-color: white;
            padding: 14px 16px 13px 32px;
            height: 40px;
        }

        .main-search-form .submit {
            padding: 12px 21px;
            height: 40px;
        }

        .main-search-form label {
            color: #7F8C8D;
        }

        .search-section {
            height: 60px;
            padding: 20px;
            margin: 0 auto;
            width: 50%;
            margin-bottom: 40px;
            text-align: center;
        }

        .navbar {
        }

        .sbol-logo-dark-single-line {
            display: none;
        }

        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

block body
    div#container
        nav.navbar.navbar-expand-lg
            div.sbh-navbar-top.sbh-navbar-index
                a(href='/').navbar-brand
                    if config.instanceLogo
                        img.instance-logo(src=config.instanceLogo)
                    else
                        h1(style='margin-left: 15px;') #{config.instanceName}
                div.navbar-collapse#navbarSupportedContent
                    form(action='search').form-inline.flex-grow-1
                        input.form-control.sbh-autocomplete(type='text',name='q',placeholder=('Search ' + config.instanceName) value=(searchQuery || ''))
                    if user
                        ul.navbar-nav.mr-0
                            if typeof(menu) !== 'undefined'
                                each item in menu.items
                                    li.nav-item
                                        a(href=item.url).nav-link
                                            span.fa(class=item.faIconClass)
                                            span #{item.title}
                div#navbarNotSupportedContent
                    button.btn.menu-btn
                        span.fa.fa-bars
        div.container.container-fluid
            div.row
                div.col-md-6
                    img(src='/images/sbh_lifecycle.svg').sbh-index-lifecycle
                div.col-md-6
                    if user
                        div.sbh-index-projectlinks
                            h3 Recent Projects
                            ul
                                each project in recentProjects
                                    li
                                        a(href=project.url) #{project.name}
                            br
                            a(href='/newproject')
                                span.fa.fa-plus
                                |  Create Project
                    else
                        div.sbh-index-blurb
                            p !{config.frontPageText}
                            a(href='/login') Login or Register →
                    

