
extends ../layouts/default.jade

include ../mixins/search-result.jade

block content
    div.container-fluid.px-5
        div.row
            div.col-md-12.text-center.py-3
                | Showing #{firstResultNum} - #{lastResultNum} of #{numResultsTotal} result(s)
                - var previous = firstResultNum - (limit+1)
                if (previous >= 0)
                    a(href=originalUrl + '/?offset='+previous) Previous
                    = ' '
                - var start = (firstResultNum - (limit*5+1)) < 0               ? 0                     : (firstResultNum - (limit*5+1)) / limit 
                - var last  = (firstResultNum + (limit*4+1)) > numResultsTotal ? numResultsTotal/limit : (firstResultNum + (limit*4+1)) / limit
                - var current = (firstResultNum % 10 == 0 ? firstResultNum : firstResultNum - 1) / limit 
                if (previous >= 0 || lastResultNum < numResultsTotal)
                    - for (var i=start; i<last; i++)
                        - var offset = i * limit
                        if(i != current)
                            a(href=originalUrl + '/?offset='+offset) #{i+1}
                        else
                            b #{i+1}
                        = ' '
                        
                if (lastResultNum < numResultsTotal)
                    a(href=originalUrl + '/?offset='+lastResultNum) Next
                br
                a(href='/advancedSearch') Advanced Search
                |  |  
                if (locals.user)
                    a(href='/createCollection') Create Collection
                    |  |  
                a(href='/sparql') SPARQL
                br

        div.row
            div.col-md-12
                div.search-results-scroll-area
                    div.clearfix
                    div.search-results
                        each submission in results
                            +search-result-component-definition(submission)









