
extends ../layouts/topLevel.jade

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    if meta.triplestore != 'public'
        a.btn.btn-success(onclick="popup()")
            span.fa.fa-share
            |  Share
        br
        br
    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
        a.btn.btn-success(href=makePublic)
            span.fa.fa-unlock
                |  Make Public
        br
        br
    if meta.triplestore != 'public'
        a.btn.btn-success(href=meta.url + '/remove')
            span.fa.fa-remove
                |  Remove
        br
        br


block topLevelPreview

.container
    #accordion.panel-group
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a.accordion-toggle(data-toggle='collapse', href='#collapseZero')
                        | <b>Details</b>
            #collapseZero.panel-collapse.collapse.in
                .panel-body
                    block topLevelBelowPropertyTable
                        block tempdescription
                        a(style='font-size:20px', href=meta.wasDerivedFrom.toString().startsWith(config.databasePrefix)?'/'+meta.wasDerivedFrom.toString().replace(config.databasePrefix,''):meta.wasDerivedFrom.toString()) Original Built Design
                        br
                        a(style='font-size:20px', href=meta.dataurl) Experimental Data URL
                        h4 Purpose
                        | #{meta.description}
                        br
                        h4 Researcher:
                        | #{agent}
                        br
                        h4 Protocol:
                        | #{plan}
                        br

        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a.accordion-toggle(data-toggle='collapse', href='#collapseSix')
                        | <b>Lab Protocol Details</b>
            #collapseSix.panel-collapse.collapse
                .panel-body
                    div.row
                        div.col-md-12
                            if typeof(meta.planattachments) !== 'undefined' && (canEdit || meta.planattachments.length > 0)
                                table.attachments-table.table.table-striped
                                    thead
                                        th Name
                                        th Size
                                        th
                                    tbody
                                    for attachment in meta.planattachments
                                        tr
                                            td
                                                a(href=attachment.url) #{attachment.name}
                                            td
                                                if attachment.sizeString
                                                    | #{attachment.sizeString}
                                            td
                                                a(href=attachment.url + '/download')
                                                    button.btn.btn-primary
                                                        span.fa.fa-download
                                                        |  Download
                                                    
                                                        
        .panel.panel-default
            .panel-heading
                h4.panel-title
                    a.accordion-toggle(data-toggle='collapse', href='#collapseSeven')
                        | <b>Metadata</b>
            #collapseSeven.panel-collapse.collapse
                .panel-body
                    div.row
                        div.col-md-12
                            if typeof(meta.metadataattachments) !== 'undefined' && (canEdit || meta.metadataattachments.length > 0)
                                table.attachments-table.table.table-striped
                                    thead
                                        th Name
                                        th Size
                                        th
                                    tbody
                                    for attachment in meta.metadataattachments
                                        if attachment.size != 0
                                        tr
                                            td
                                                a(href=attachment.url) #{attachment.name}
                                            td
                                                if attachment.sizeString
                                                    | #{attachment.sizeString}
                                            td
                                                a(href=attachment.url + '/download')
                                                    button.btn.btn-primary
                                                        span.fa.fa-download
                                                        |  Download

