
mixin attachments(url, attachments)
    
    if typeof(attachments) !== 'undefined' && (attachments.length > 0)
        table.attachments-table.table.table-striped
            thead
                th Name
                th Size
            tbody

            div#lightgallery
                for attachment in attachments
                    if attachment.format.includes('http://purl.org/NET/mediatypes/image')
                       if attachment.getUriProperty("http://purl.obolibrary.org/obo/IAO_0000304") != undefined
                            a.sele(style='height:300px;width:300px' href=attachment.uri + '/download', data-sub-html='<h3>' + attachment.displayName + '</h3><p> ' + attachment.getUriProperty("http://purl.obolibrary.org/obo/IAO_0000304") + '</p>')
                                img.attachmentImage(src=attachment.uri + '/download')
                        else
                            a.sele(style='height:300px;width:300px' href=attachment.uri + '/download', data-sub-html='<h3>' + attachment.displayName + '</h3>')
                                img.attachmentImage(src=attachment.uri + '/download')

            for attachment in attachments
                tr
                    td
                        a(href=attachment.uri) #{attachment.displayName}
                    td
                        if attachment.size
                            | #{attachment.size}
                    td
                        a(href=attachment.uri + '/download')
                            button.btn.btn-primary
                                span.fa.fa-download
                                |  Download
    div.row
        form#sbh-attachment-form(method='post',enctype='multipart/form-data',action=url + '/attach')
            input(type="text", id="caption", name="caption", placeholder="If attaching an image, write a caption here!", form="sbh-attachment-form").form-control
            div.col-xs-6
                
                div.input-group
                    
                    label.input-group-btn
                        span.btn.btn-primary
                            | Select file(s)&hellip;
                            input(type="file",name="file",style="display: none;",multiple, form="sbh-attachment-form")
                    
                    input(type="text",class="form-control",readonly)
            div.col-xs-3
            div.col-xs-3
                button.btn(disabled,type='submit',style='width:100%;') Attach

