
extends base.jade

include ../mixins/footer.jade

block body

    body
        block modal

        block intro

        nav.pushy.pushy-right
            div.pushy-content
                ul
                    if typeof(menu) !== 'undefined'
                        each item in menu.items
                            li.pushy-link
                                a(href=item.url)
                                    span.fa(class=item.faIconClass)
                                    span #{item.title}


        div.site-overlay

        div#container
            nav.navbar.navbar-expand-lg
                div.sbh-navbar-top
                    a(href='/').navbar-brand
                        if config.instanceLogo
                            img.instance-logo(src=config.instanceLogo)
                        else
                            h1(style='margin-left: 15px;') #{config.instanceName}
                    div.navbar-collapse#navbarSupportedContent
                        form(action='search').form-inline.flex-grow-1
                            input.form-control.sbh-autocomplete(type='text',name='q',placeholder=('Search ' + config.instanceName) value=(searchQuery || ''))
                        ul.navbar-nav.mr-0
                            if typeof(menu) !== 'undefined'
                                each item in menu.items
                                    li.nav-item
                                        a(href=item.url).nav-link
                                            span.fa(class=item.faIconClass)
                                            span #{item.title}
                    div#navbarNotSupportedContent
                        button.btn.menu-btn
                            span.fa.fa-bars
            if locals.breadcrumbs && locals.breadcrumbs.crumbs.length > 1
                div.sbh-breadcrumbs
                    ul
                        for crumb, i in locals.breadcrumbs.crumbs
                            li
                                if i < locals.breadcrumbs.crumbs.length - 1
                                    a(href=crumb.uri) #{crumb.title}
                                else
                                    | #{crumb.title}
            block content

        div.clearfix

        div(align='center').footer-bar.blue-text
            +footer()
