
extends base.jade

include ../mixins/footer.jade

block body

    body
        block modal

        nav.navbar.navbar-expand-lg
            div.sbh-navbar-top
                a(href='/').navbar-brand
                    if config.instanceLogo
                        img.instance-logo(src=config.instanceLogo)
                    else
                        h1(style='margin-left: 15px;') #{config.instanceName}

                button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
                    span.navbar-toggler-icon

                div.collapse.navbar-collapse#navbarSupportedContent
                    form(action='search').form-inline
                        input.sbh-autocomplete(type='text',name='q',placeholder=('Search ' + config.instanceName) value=(searchQuery || ''))
                    ul.navbar-nav.mr-0
                        if locals.user
                            li.nav-item
                                a(href='/submit').nav-link
                                    span.fa.fa-cloud-upload-alt
                                    span Submit
                            li.nav-item
                                a(href='/shared').nav-link
                                    span.fa.fa-bolt
                                    span Shared with Me
                            li.nav-item
                                a(href='/manage').nav-link
                                    span.fa.fa-align-left
                                    span Submissions
                            if locals.user.isAdmin
                                li.nav-item
                                    a(href='/admin').nav-link
                                        span.fa.fa-cogs
                                        span Admin
                            li.nav-item
                                a(href='/profile').nav-link
                                    span.fa.fa-id-card
                                    span Profile
                            li.nav-item
                                a(href='/logout').nav-link
                                    span.fa.fa-sign-out-alt
                                    span Logout
                        else
                            li.nav-item
                                a(href='/login').nav-link.mr-0
                                    span.fa.fa-sign-in
                                    span Login or Register
            if locals.breadcrumbs
                div.sbh-breadcrumbs
                    ul
                        for crumb, i in locals.breadcrumbs.crumbs
                            li
                                if i < locals.breadcrumbs.crumbs.length - 1
                                    a(href=crumb.uri) #{crumb.title}
                                else
                                    | #{crumb.title}

        block intro

        block content

        div.clearfix

        div(align='center').footer-bar.blue-text
            +footer()
